* {
	list-style: none;
	background: url('falloutnv.jpg') no-repeat center center fixed;
	background-size: cover;
	background-repeat: none;
	color: #EFF1F1;
	font-family: 'Rokkitt', serif;

}
.quiz {
	display:none;
}
 #test_status {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 75px;
	text-align: center;
	background: #646874;
	border: 5px solid #000;
	padding: 5px 5px;
}
#test {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background: #646874;
	border: 5px solid #000;
	margin-top: 70px;
	font-size: 30px;
	/*display:none; */
}

h2 {
	margin-left: auto;
	margin-right: auto;
	font-size: 75px;
	text-align: center;
	background: #646874;
}

#test h3, #test h2 {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: #646874;
	font-size: 30px;
}
input {
	margin-left: 70px;
}
button {
	margin-top: 25px;
	background: #646874;
	font-size: 26px;
	border: 5px solid #000;
	padding: 10px 10px;
	float: right;
}

.footer{
	margin: 100px auto;
	font-size: 25px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

.footer a:link,
.footer a:visited,
.foot a:active {
	text-decoration: underline;
	color: #fff;
}


.result {
	width: 50%;
	margin: 70px auto 0px auto;
	font-size: 30px;
	background: #646874;
	border: 5px solid #000;
	display:none;
}